#navbar
{
    background-color: #537fbe
}

.homecontainer {
    position: relative;
    width: 100%;
 }

 .homecontainer .startpage {
    width: 100%;
    height: auto;
 }
 .homecontainer .submitbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

.room {
   height: auto;
   width: 100%;
}