#navbar
{
    background-color: #537fbe
}

.homecontainer {
    position: relative;
    width: 100%;
 }

 .homecontainer .startpage {
    width: 100%;
    height: auto;
 }

 .homecontainer .title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    color: white;
    font-family: monospace;
    font-weight: 800;
 }

 .homecontainer .startbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.room1btn1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.room1btn2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
}

.room1btn3 {
   
}

.room1btn4 {
   
}

.room1btn5 {
   
}

.room {
   height: auto;
   width: 100%;
}