@font-face {
   font-family: 'arcadeclassicregular';
   src: url('assets/arcadeclassic-webfont.woff2') format('woff2'),
        url('assets/arcadeclassic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;

}

#navbar
{
   background-color: #537fbe;
}

.homecontainer {
    position: relative;
    width: 100%;
 }

 .homecontainer .startpage {
    width: 100%;
    height: auto;
 }

 .homecontainer .title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    /*color: #FFFF66;
    font-family: arcadeclassicregular;
    font-weight: 800;
    font-size: 100px;*/
 }

 .homecontainer .startbtn {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #A946BE;
    color: white;
    font-size: 35px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: arcadeclassicregular;
}

.homecontainer .startbtn:hover {
   background-color: white;
   color: #A946BE;
}

.youwin {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -40%);
   -ms-transform: translate(-50%, -40%);
   width: 75%;
}

.homecontainer .endbtn {
   position: absolute;
   top: 63%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #A946BE;
   color: white;
   font-size: 35px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   font-family: arcadeclassicregular;
}

.endbtn:hover {
   background-color: white;
   color: #A946BE;
}

.form-popup {
   border: 3px solid #f1f1f1;
   background-color: white;
   z-index: 9;
 }

 /* need more formating */
.hint1_1 {
   position: absolute;
   top: 60%;
   left: 51%;
}

#room1btn1 {
    position: absolute;
    top: 60%;
    left: 51%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 45px;
    background: transparent;
    border-color: transparent;
}

#room1btn2 {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    background: transparent;
    border-color: transparent;
    padding: 22px;
}

#room1btn3 {
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    background: transparent;
    border-color: transparent;
    padding: 10px;
}

#room1btn4 {
    position: absolute;
    top: 85%;
    left: 84%;
    transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    background: transparent;
    border-color: transparent;
    padding: 5px;
    padding-bottom: 35px;
}

.room1btn5 {
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    background: transparent;
    border-color: transparent;
    padding: 30px;
}

#room2btn1 {
   position: absolute;
   top: 59%;
   left: 48%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   padding: 20px;
   padding-left: 150px;
   /*background: transparent;
   border-color: transparent;*/
}

#room2btn2 {
   position: absolute;
   top: 10%;
   left: 20%;
   transform: translate(-20%, -50%);
   -ms-transform: translate(-20%, -50%);
   /*background: transparent;
   border-color: transparent;*/
   padding: 22px;
}

#room2btn3 {
   position: absolute;
   top: 90%;
   left: 30%;
   transform: translate(-20%, -50%);
   -ms-transform: translate(-20%, -50%);
   /*background: transparent;
   border-color: transparent;*/
   padding: 10px;
}

#room2btn4 {
   position: absolute;
   top: 85%;
   left: 84%;
   transform: translate(-20%, -50%);
   -ms-transform: translate(-20%, -50%);
   /*background: transparent;
   border-color: transparent;*/
   padding: 5px;
   padding-bottom: 35px;
}

#room2btn5 {
   position: absolute;
   top: 40%;
   left: 90%;
   transform: translate(-20%, -50%);
   -ms-transform: translate(-20%, -50%);
   /*background: transparent;
   border-color: transparent;*/
   padding: 30px;
}

.room {
   height: 100%;
   width: 100%;
}