{% extends "layout.html" %}

{% block title %}
    One
{% endblock %}

{% block body %}
    <img src="static/assets/room_1.jpg" alt="Room One" class="room">
    
    <form action="/room_1" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="room_1_answer" class="answer" type="text">
        </div>
        <button class="btn btn-primary" type="submit"></button>
    </form>
   
    <button id="room1btn1" onclick="openForm(1)"></button>
    <div class="form-popup" id="myForm1">
        <form action="/hint_1_1" class="form-container" id="hint_1_1", method="POST">
            <h1>Game 1</h1>
            <label for="hint"><b>Hint</b></label>
            <input type="text" name="hint_1_1" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(1)">Close</button>
        </form>
    </div>
    
    <button id="room1btn2" onclick="openForm(2)"></button>
    <div class="form-popup" id="myForm2">
        <form action="/hint_1_2" class="form-container" id="hint_1_2", method="POST">
            <h1>Game 2</h1>
            <label for="hint"><b>Hint</b></label>
            <input type="text" name="hint_1_2" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(2)">Close</button>
        </form>
    </div>

    <button id="room1btn3" onclick="openForm(3)"></button>
    <div class="form-popup" id="myForm3">
        <form action="/hint_1_3" class="form-container" id="hint_1_3", method="POST">
            <h1>Game 3</h1>
            <label for="hint"><b>Hint</b></label>
            <input type="text" name="hint_1_3" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(3)">Close</button>
        </form>
    </div>

    <button id="room1btn4" onclick="openForm(4)"></button>`
    <div class="form-popup" id="myForm4">
        <form action="/hint_1_4" class="form-container" id="hint_1_4", method="POST">
            <h1>Game 4</h1>
            <label for="hint"><b>Hint</b></label>
            <input type="text" name="hint_1_4" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(4)">Close</button>
        </form>
    </div>

    <button id="room1btn5" onclick="openForm(5)"></button>
    <div class="form-popup" id="myForm5">
        <form action="/hint_1_5" class="form-container" id="hint_1_5", method="POST">
            <h1>Game 5</h1>
            <label for="hint"><b>Hint</b></label>
            <input type="text" name="hint_1_5" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(5)">Close</button>
        </form>
    </div>

{% endblock %}