{% extends "layout.html" %}

{% block title %}
    Three
{% endblock %}

{% block body %}
<img src="static/assets/room_3.jpg" alt="Room Three" class="room">

    <button id="room3btn1" onclick="openForm(3, 1)"></button>
    <div class="form-popup" id="answer_3_1">
        <form action="/answer_3" class="form-container", method="POST">
            <h3>Game 1</h3>
            <p>01000111</p>
            <label for="answer"><b>Answer</b></label>
            <input type="text" name="answer_3_1" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(3, 1)">Close</button>
        </form>
    </div>

    <button id="room3btn2" onclick="openForm(3, 2)"></button>
    <div class="form-popup" id="answer_3_2">
        <form action="/answer_3" class="form-container", method="POST">
            <h3>Game 2</h3>
            <p>01000001</p>
            <label for="answer"><b>Answer</b></label>
            <input type="text" name="answer_3_2" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(3, 2)">Close</button>
        </form>
    </div>

    <button id="room3btn3" onclick="openForm(3, 3)"></button>
    <div class="form-popup" id="answer_3_3">
        <form action="/answer_3" class="form-container", method="POST">
            <h3>Game 3</h3>
            <p>01001101</p>
            <label for="answer"><b>Answer</b></label>
            <input type="text" name="answer_3_3" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(3, 3)">Close</button>
        </form>
    </div>

    <button id="room3btn4" onclick="openForm(3, 4)"></button>
    <div class="form-popup" id="answer_3_4">
        <form action="/answer_3" class="form-container", method="POST">
            <h3>Game 4</h3>
            <p>01000101</p>
            <label for="answer"><b>Answer</b></label>
            <input type="text" name="answer_3_4" required>
            <button type="submit" class="btn">Try</button>
            <button type="button" class="btn cancel" onclick="closeForm(3, 4)">Close</button>
        </form>
    </div>
    
    <form action="/room_3" method="POST">
        <div class="mb-3" style="padding-top: 20px">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="room_3_password" name="password" type="text" required>
        </div>
        <div style="text-align:center; padding-bottom: 20px">
            <button class="btn-primary" type="submit">Try Password</button>
        </div>
    </form>

{% endblock %}