{% extends "layout.html" %}

{% block title %}
    One
{% endblock %}

{% block body %}
    <div>
        <div>
            <img src="static/assets/room_1.jpg" alt="Room One" class="room">
        </div>
   
        <button id="room1btn1" onclick="openForm(1, 1)"></button>
        <div class="form-popup" id="answer_1_1">
            <form action="/answer_1" class="form-container", method="POST">
                <h1>Game 1</h1>
                <label for="answer"><b>Answer</b></label>
                <input type="text" name="answer_1_1" required>
                <button type="submit" class="btn">Try</button>
                <button type="button" class="btn cancel" onclick="closeForm(1, 1)">Close</button>
            </form>
        </div>
    
        <button id="room1btn2" onclick="openForm(1, 2)"></button>
        <div class="form-popup" id="answer_1_2">
            <form action="/answer_1" class="form-container", method="POST">
                <h1>Game 2</h1>
                <label for="answer"><b>Answer</b></label>
                <input type="text" name="answer_1_2" required>
                <button type="submit" class="btn">Try</button>
                <button type="button" class="btn cancel" onclick="closeForm(1, 2)">Close</button>
            </form>
        </div>
    
        <button id="room1btn3" onclick="openForm(1, 3)"></button>
        <div class="form-popup" id="answer_1_3">
            <form action="/answer_1" class="form-container", method="POST">
                <h1>Game 3</h1>
                <label for="answer"><b>Answer</b></label>
                <input type="text" name="answer_1_3" required>
                <button type="submit" class="btn">Try</button>
                <button type="button" class="btn cancel" onclick="closeForm(1, 3)">Close</button>
            </form>
        </div>
    
        <button id="room1btn4" onclick="openForm(1, 4)"></button>
        <div class="form-popup" id="answer_1_4">
            <form action="/answer_1" class="form-container", method="POST">
                <h1>Game 4</h1>
                <label for="answer"><b>Answer</b></label>
                <input type="text" name="answer_1_4" required>
                <button type="submit" class="btn">Try</button>
                <button type="button" class="btn cancel" onclick="closeForm(1, 4)">Close</button>
            </form>
        </div>
    </div>
    
    <form action="/room_1" method="post">
        <div class="mb-3" style="padding: 0px">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="room_1_password" class="password" type="text">
        </div>
        <div style="text-align:center">
            <button class="btn-primary" type="submit">Try Password</button>
        </div>
    </form>

{% endblock %}